*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDF3FF;
}

#wrap{

    margin: 150px auto;
    background: #fff;
    width: 540px ;
    /* height: 200px; */

    box-shadow: 0 4px 16px rgba(0,0,0,.04);

    border-radius: 12px;
    border: 1px solid #e3e5ec;
}

#reg_wrap{
    margin: 0 auto;
    width: 378px;
    padding:62px 0;
    /* border: 1px solid red ; */
}

#title_wrap h1{
    color: #21293a;
    font-size: 24px;
}

#title_wrap span{
    color: #585e6d;
    font-size: 16px;
    /* margin-top: 8px; */
}

#form_box{
    padding: 32px 0;
}

.item{
    position: relative;
    margin-bottom: 35px;
}

.input_item{
    
    width: 100%;
    border: 1px solid #e3e5ec;
    border-radius: 3px;
    height: 46px;
    padding: 11px 0 10px 16px;
    box-sizing: border-box;
    outline: none;
}

.input_item:focus{
    border-color: #3b78dd;
}

.text{
    position: absolute;
    top: 0;
    right: 0;
    color: #343434;
    line-height: 46px;
    padding: 0 16px;
}

#psd_icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    /* border: 1px solid green; */
    background: url(../img/闭眼.png) no-repeat center;/*小眼睛图片*/
    background-size: 100% 100%;

    position: absolute;
    top: 12px;
    right: 12px;
}

.service{
    color: #606266;

    font-size: 14px;
    height: 20px;

    line-height: 20px;
    margin-bottom: 16px;
}

.service a{
    display: inline-block;
    color: #606266;
    text-decoration: none;
}

#reg_btn{
    line-height: 48px;
    background: #3b78dd;
    color: #fff;
    text-align: center;
    font-size: 22px;
    
}
#reg_btn:hover{
    cursor: pointer;
}
.tip{
    color: #9e9e9e;
    font-size: 13px;
    height: 17px;
    line-height: 17px;
    padding-left: 10px;
    margin-top: 5px;
    /* margin-bottom: 20px; */

    position: absolute;
    left: 0;
    /* bottom: -25px; */
    /* top: 27px; */
}