<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    	*{
    		padding: 0;
    		margin: 0;
    	}
    	#header{
    		height: 90px;
    		background: rgb(153,217,234);
    	}

    	#user{
    		float: right;
    		margin-right: 50px;
    		height: 90px;
    		/*line-height: 90px;*/

    	}
    	#user img{
    		float: left;
    		width: 70px;
    		height: 70px;
    		border-radius: 35px;
    		margin-right: 15px;
    		margin-top: 10px;
    	}
    	#user p{
    		float: left;
    		height: 90px;
    		line-height: 90px;
    	}
    </style>
</head>
<body>

	<header id="header" class="">

		<div id="user">

            <img src="img/upload/6.jpg" alt="">

            <p>xxx, 你好</p>
		</div>

	</header><!-- /header -->

    <h1>欢迎来到我的网站</h1>


</body>
</html>